@model Note

@if(@Model.isBullet == true){
<li class="content indent_@Model.indentLevel" contenteditable="true" id="@Model.NoteId">@Model.indentLevel @Model.Content</li>
} else {
<div class="content indent_@Model.indentLevel" contenteditable="true" id="@Model.NoteId">@Model.indentLevel @Model.Content</div>
}