@model List<Word>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
</head>
<body>
    <div id="main">

    <h1 class="title">Master List</h1>

    @foreach(var word in Model)
    {
        <div class="word">
        <button id="@word.Title" class="accordion">
            
        <form asp-action="UpdateWordTitle" asp-route-WordId="@word.WordId" class="editForm" controller="Dashboard" method="POST">
            <input class="form-control" type="text" name="Title" id="Title" value="@word.Title" style="display: inline-block; width: auto;">
            <input type="submit" value="Update">
        </form>

        @word.Title

        <div class="menu">
            <a onclick="editWordTitle(event, this); event.stopPropagation();">
                <i class="fas fa-edit"></i>
            </a>
            <a href="/Word/Delete/@word.WordId">
                <i class="fas fa-trash-alt"></i>
            </a>
        </div>

        </button>
        <div class="panel">
            <button class="accordion">
                Definition

            <div class="menu">
                    <a href="">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="">
                        <i class="fas fa-trash-alt"></i>
                    </a>
            </div>

            </button>
            <div class="panel">
                
                <form asp-action="UpdateWordDefinition" asp-route-WordId="@word.WordId" controller="Dashboard" method="POST">
                    <textarea class="form-control" name="Definition" id="Definition" cols="20" rows="10">@word.Definition</textarea>
                    <button class="btn">Submit</button>
                </form>

                <p>@word.Definition</p>
            </div>
            
            <button class="accordion">
                Example

            <div class="menu">
                    <a href="">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="">
                        <i class="fas fa-trash-alt"></i>
                    </a>
            </div>

            </button>
            <div class="panel">
                
                <form asp-action="UpdateWordExample" asp-route-WordId="@word.WordId" controller="Dashboard" method="POST">
                    <input class="form-control" type="text" name="Example" id="Example" value="@word.Example">
                    <button class="btn">Submit</button>
                </form>
                
                <p>@word.Example</p>
            </div>
        </div>
        </div>
    }

    <form asp-action="AddWord" controller="Dashboard" method="POST">
        <label for="Title">Title</label><br>
        <input class="form-control" type="text" name="Title" id="Title">

        <label for="Definition">Definition</label><br>
        <textarea class="form-control" name="Definition" id="Definition" cols="20" rows="10"></textarea>

        <label for="Example">Example</label><br>
        <input class="form-control" type="text" name="Example" id="Example">

        <button class="btn">Submit</button>
    </form>

    <partial name="SideNavPartial"/>

    </div> <!--End of Main-->

    </div>

</body>
</html>