@model List<Word>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
</head>
<body>
    <div id="main">

<div id="foo" contenteditable="true">Some editable text. Type in here and any 'a' will be you type will show up as a 'b'</div>

    <h1 id="projectName">Master List</h1>

    <p id="replace">* This is a test string</p>

    @foreach(var word in Model)
    {
        <div class="word">

        <div class="topLeft cornerPiece"></div>
        <div class="topRight cornerPiece"></div>
        <div class="bottomLeft cornerPiece"></div>
        <div class="bottomRight cornerPiece"></div>

        <button id="@word.Title" class="accordion accordStyle" onmouseenter="showMenu(this)" onmouseleave="hideMenu(this)">
            
        <form asp-action="UpdateWordTitle" asp-route-WordId="@word.WordId" class="editForm" controller="Dashboard" method="POST">
            <input class="form-control" type="text" name="Title" id="Title" value="@word.Title" style="display: inline-block; width: auto;">
            <input type="submit" value="Update">
        </form>

        <div class="contents title">
            @word.Title
        </div>

        <div class="menu">
            <a onclick="editWordTitle(event, this); event.stopPropagation();">
                <i class="fas fa-edit"></i>
            </a>
            <a href="/Word/Delete/@word.WordId">
                <i class="fas fa-trash-alt"></i>
            </a>
        </div>

        </button>
        <div class="panel">
            <button class="accordion" onmouseenter="showMenu(this)" onmouseleave="hideMenu(this)">
                <h4>
                    <i class="fas fa-caret-right"></i>
                    Definition
                </h4>

            <div class="menu">
                    <a onclick="editWordDefinition(event,this); event.stopPropagation();">
                        <i class="fas fa-edit"></i>
                    </a>
                    @* <a href="">
                        <i class="fas fa-trash-alt"></i>
                    </a> *@
            </div>

            </button>
            <div class="panel">
                
                <form asp-action="UpdateWordDefinition" asp-route-WordId="@word.WordId" class="editForm" controller="Dashboard" method="POST">
                    <textarea class="form-control" name="Definition" id="Definition" cols="20" rows="10" >@word.Definition</textarea>
                    <button class="btn">Submit</button>
                </form>

                <div class="contents">@word.Definition</div>
            </div>
            
            <button class="accordion" onmouseenter="showMenu(this)" onmouseleave="hideMenu(this)">
                <h4>
                    <i class="fas fa-caret-right"></i>
                    Example
                </h4>

            <div class="menu">
                    <a onclick="editWordExample(event, this); event.stopPropagation();">
                        <i class="fas fa-edit"></i>
                    </a>
                    @* <a href="">
                        <i class="fas fa-trash-alt"></i>
                    </a> *@
            </div>

            </button>
            <div class="panel">
                
                <form asp-action="UpdateWordExample" asp-route-WordId="@word.WordId" class="editForm" controller="Dashboard" method="POST" id="updateExampleForm">
                    <input class="form-control" type="text" name="Example" id="Example" value="@word.Example">
                    <button class="btn">Submit</button>
                </form>
                
                <div class="contents">@word.Example</div>

            </div>
        </div>
        </div>
    }

    <form asp-action="AddWord" controller="Dashboard" method="POST">
        <label for="Title">Title</label><br>
        <input class="form-control" type="text" name="Title" id="Title">

        <label for="Definition">Definition</label><br>
        <textarea class="form-control" name="Definition" id="Definition" cols="20" rows="10"></textarea>

        <label for="Example">Example</label><br>
        <input class="form-control" type="text" name="Example" id="Example">

        <button class="btn">Submit</button>
    </form>

    <partial name="SideNavPartial"/>

    </div> <!--End of Main-->

    </div>

</body>
</html>