@model List<Word>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
</head>
<body>
    <div id="main">

        <div id="changes">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rhoncus  gravida magna, quis interdum magna mattis quis. Fusce tempor sagittis  varius. Nunc at augue at erat suscipit bibendum id nec enim. Sed eu odio  quis turpis hendrerit sagittis id sit amet justo. Cras ac urna purus,  non rutrum nunc. Aenean nec vulputate ante. Morbi scelerisque sagittis  hendrerit. Pellentesque habitant morbi tristique senectus et netus et  malesuada fames ac turpis egestas. Nulla tristique ligula fermentum  tortor semper at consectetur erat aliquam. Sed gravida consectetur  sollicitudin. 
        </div>
        <input type="button" onclick="highlight();" value="Highlight"/>
        <input type="button" onclick="addBullet();" value="Bullet"/>
        <input type="button" onclick="addItalics();" value="Italics"/>

        @* https://vimeo.com/385937162 *@
        @* <iframe width="1519" height="562" src="https://www.youtube.com/embed/c2ETTpDty7I?rel=0;&autoplay=1&mute=1&loop=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> *@
        @* https://player.vimeo.com/video/385937162?background=1 *@
        @* <iframe src="https://player.vimeo.com/video/385937162?background=1"></iframe> *@

        @* <iframe src="https://player.vimeo.com/video/385937162?background=1" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" data-vimeo-tracked="true" data-ready="true"></iframe> *@

@* <div id="foo" contenteditable="true">Some editable text. Type in here and any 'a' will be you type will show up as a 'b'</div> *@

    <h1 id="projectName">Master List</h1>

    @foreach(var word in Model)
    {
        <div class="word" id="@word.WordId">
        <div class="topLeft cornerPiece"></div>
        <div class="topRight cornerPiece"></div>
        <div class="bottomLeft cornerPiece"></div>
        <div class="bottomRight cornerPiece"></div>

        <button id="@word.Title" class="accordion accordStyle wordButton" onmouseenter="showMenu(this)" onmouseleave="hideMenu(this)">
            
        @* <form asp-action="UpdateWordTitle" asp-route-WordId="@word.WordId" class="editForm" controller="Dashboard" method="POST">
            <input class="form-control" type="text" name="Title" value="@word.Title" style="display: inline-block; width: auto;">
            <input type="submit" value="Update">
        </form> *@

        <div class="contents title" contenteditable="true" onclick="event.stopPropagation();">
            @word.Title
        </div>

        <div class="menu">
            <a onclick="editWordTitle(event, this); event.stopPropagation();">
                <i class="fas fa-edit"></i>
            </a>
            <a href="/Word/Delete/@word.WordId">
                <i class="fas fa-trash-alt"></i>
            </a>
        </div>

        </button>
        <div class="panel">
            <button class="accordion definition" onmouseenter="showMenu(this)" onmouseleave="hideMenu(this)">
                <h4>
                    <i class="fas fa-caret-right"></i>
                    Definition
                </h4>

            <div class="menu">
                    <a onclick="editWordDefinition(event,this); event.stopPropagation();">
                        <i class="fas fa-edit"></i>
                    </a>
                    @* <a href="">
                        <i class="fas fa-trash-alt"></i>
                    </a> *@
            </div>

            </button>
            <div class="panel">
                
                @* <form asp-action="UpdateWordDefinition" asp-route-WordId="@word.WordId" class="editForm" controller="Dashboard" method="POST">
                    <textarea class="form-control" name="Definition" cols="20" rows="10" >@word.Definition</textarea>
                    <button class="btn">Submit</button>
                </form> *@

                <div class="contents" contenteditable="true" id="definitionBox">@word.Definition</div>
            </div>
            
            <button class="accordion example" onmouseenter="showMenu(this)" onmouseleave="hideMenu(this)">
                <h4>
                    <i class="fas fa-caret-right"></i>
                    Example
                </h4>

            <div class="menu">
                    <a onclick="editWordExample(event, this); event.stopPropagation();">
                        <i class="fas fa-edit"></i>
                    </a>
                    @* <a href="">
                        <i class="fas fa-trash-alt"></i>
                    </a> *@
            </div>

            </button>
            <div class="panel">
                
                @* <form asp-action="UpdateWordExample" asp-route-WordId="@word.WordId" class="editForm updateExampleForm" controller="Dashboard" method="POST">
                    <input class="form-control Example" type="text" name="Example" value="@word.Example">
                    <button class="btn">Submit</button>
                </form> *@
                
                <div class="contents" contenteditable="true">@word.Example</div>

            </div>
        </div>
        </div>
    }

    <form asp-action="AddWord" controller="Dashboard" method="POST">
        <label for="Title">Title</label><br>
        <input class="form-control" type="text" name="Title" id="Title">

        <label for="Definition">Definition</label><br>
        <textarea class="form-control" name="Definition" id="Definition" cols="20" rows="10"></textarea>

        <label for="Example">Example</label><br>
        <input class="form-control" type="text" name="Example" id="Example">

        <button class="btn">Submit</button>
    </form>

    <partial name="SideNavPartial"/>

    </div> <!--End of Main-->

    </div>

</body>
</html>