@model List<Word>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
</head>
<body>
    @* <h1>Welcome to the dashboard, @ViewBag.FirstName @ViewBag.LastName</h1> *@

    @foreach(var word in Model)
    {
        <h2>@word.Title</h2>
        <p>@word.Image</p>
        <h4>Definition:</h4>
        <p>@word.Definition</p>
        <h4>Example:</h4>
        <p>@word.Example</p>
    }

    <form asp-action="AddWord" controller="Dashboard" method="POST">
        <label for="Title">Title</label><br>
        @* <span asp-validation-for="Title" class="error"></span> *@
        <input class="form-control" type="text" name="Title" id="Title">

        <label for="Definition">Definition</label><br>
        <textarea class="form-control" name="Definition" id="Definition" cols="20" rows="10"></textarea>
        @* <input class="form-control" type="text" name="Definition" id="Definition"> *@

        <label for="Example">Example</label><br>
        <input class="form-control" type="text" name="Example" id="Example">

        <button>Submit</button>
    </form>

    <partial name="SideNavPartial"/>

</body>
</html>