@model List<Word>

@foreach(var word in Model)
    {
        <div class="word" id="@word.WordId" onmouseenter="showInputField(this)" onmouseleave="hideInputField(this)">
        <div class="topLeft cornerPiece"></div>
        <div class="topRight cornerPiece"></div>
        <div class="bottomLeft cornerPiece"></div>
        <div class="bottomRight cornerPiece"></div>

        @* <button id="@word.Title" class="accordion accordStyle wordButton" onmouseenter="showMenu(this)" onmouseleave="hideMenu(this)"> *@
        <button id="@word.Title" class="accordion accordStyle wordButton">

        <div class="contents title" contenteditable="true" onclick="event.stopPropagation();">
            @word.Title
        </div>

        <div class="menu">
            <a onclick="editWordTitle(event, this); event.stopPropagation();">
                <i class="fas fa-edit"></i>
            </a>
            <a href="/Word/Delete/@word.WordId">
                <i class="fas fa-trash-alt"></i>
            </a>
        </div>

        </button>
        <div class="panel">

            @foreach(var note in @word.Notes)
            {
                <div class="note" onmouseenter="showMenu(this)" onmouseleave="hideMenu(this)">
                <div class="contents">
                    <div class="menu">
                        <i class="fas fa-list-ul"></i>
                        <i class="fas fa-outdent"></i>
                        <i class="fas fa-indent"></i>
                        <i class="fas fa-heading"></i>
                        @if(note.AlignPosition == 0){
                            <i class="fas fa-align-left pressed" onclick="updateAlignment(0, this)"></i>
                        } else {
                            <i class="fas fa-align-left" onclick="updateAlignment(0, this)"></i>
                        }
                        @if(note.AlignPosition == 1){
                            <i class="fas fa-align-center pressed" onclick="updateAlignment(1, this)"></i>
                        } else {
                            <i class="fas fa-align-center" onclick="updateAlignment(1, this)"></i>
                        }
                        @if(note.AlignPosition == 2){
                            <i class="fas fa-align-right pressed" onclick="updateAlignment(2, this)"></i>
                        } else {
                            <i class="fas fa-align-right" onclick="updateAlignment(2, this)"></i>
                        }
                        <i class="fas fa-trash"></i>
                    </div>

                    <div class="replaceContent">

                    @if(note.Style == 1){
                        <h1 class="content align_@note.AlignPosition indent_@note.indentLevel" contenteditable="true" id="@note.NoteId">@note.Content</h1>
                    } else if(note.Style == 2){
                        <h2 class="content align_@note.AlignPosition indent_@note.indentLevel" contenteditable="true" id="@note.NoteId">@note.Content</h2>
                    } else if(note.Style == 3){
                        <h3 class="content align_@note.AlignPosition indent_@note.indentLevel" contenteditable="true" id="@note.NoteId">@note.Content</h3>
                    } else if(note.Style == 4){
                        <h4 class="content align_@note.AlignPosition indent_@note.indentLevel" contenteditable="true" id="@note.NoteId">@note.Content</h4>
                    } else {

                        @if(note.isBullet == true){
                            <li class="content align_@note.AlignPosition indent_@note.indentLevel" contenteditable="true" id="@note.NoteId">@note.Content</li>
                        } else {
                            <div class="content align_@note.AlignPosition indent_@note.indentLevel" contenteditable="true" id="@note.NoteId">@note.Content</div>
                        }
                    }

                    </div>
                </div>
                </div>
            }

            <form asp-action="AddNote" asp-route-WordId="@word.WordId" controller="Dashboard" method="POST" class="addWordForm" id="word-@word.WordId">
                <input class="form-control addNoteInput" type="text" name="Content" placeholder="Enter Note Content here">
            </form>

        </div>

        </div>
    }